*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	position:relative;
	overflow:hidden;
    height:100vh;
    background: red;

}




/*****************************************************************\
/*****************************************************************\
/*****************************************************************\
/*****************************************************************\*/

div.cloud1 {
    width: 270px;
    left: -270px;
    top:20px;
    height: 88px;
    background: url("../img/cloud1.png") scroll no-repeat center top;
    position :absolute;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: move_cloud1 50s linear infinite; /* Chrome, Safari, Opera */
    animation: move_cloud1 50s linear infinite;
    z-index: 1;
}
div.cloud2{
    width: 270px;
    left: -270px;
    height: 88px;
    top:100px;
    position :absolute;
   background: url("../img/cloud2.png") scroll no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: move_cloud2 45s linear infinite; /* Chrome, Safari, Opera */
    animation: move_cloud2 45s linear infinite;
    z-index: 2;
}
div.cloud3{
    width: 470px;
    left: -470px;
    height: 226px;
    top:60px;
    position :absolute;
    background: url("../img/cloud3.png") scroll no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: move_cloud3 80s linear infinite; /* Chrome, Safari, Opera */
    animation: move_cloud3 80s linear infinite;
    z-index: 3;
}
div.cloud4{
    width: 298px;
    left: -298px;
    height: 143px;
    top:50px;
    position :absolute;
    background: url("../img/cloud4.png") scroll no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: move_cloud4 55s linear infinite; /* Chrome, Safari, Opera */
    animation: move_cloud4 55s linear infinite;
    z-index: 4;
}
div.cloud5{
    width: 419px;
    left: -419px;
    height: 201px;
    top:90px;
    position :absolute;
    background: url("../img/cloud5.png") scroll no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: move_cloud5 50s linear infinite; /* Chrome, Safari, Opera */
    animation: move_cloud5 50s linear infinite;
    z-index: 5;
}
div.cloud6{
    width: 695px;
    left: -695px;
    height: 333px;
    top:10px;
    position :absolute;
    background: url("../img/cloud6.png") scroll no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: move_cloud6 75s linear infinite; /* Chrome, Safari, Opera */
    animation: move_cloud6 75s linear infinite;
    z-index: 6;
}
div.cloud7{
    width: 418px;
    left: -418px;
    height: 104px;
    top:140px;
    position :absolute;
    background: url("../img/cloud7.png") scroll no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: move_cloud7 180s linear infinite; /* Chrome, Safari, Opera */
    animation: move_cloud7 180s linear infinite;
    z-index: 7;
}
div.cloud8{
    width: 867px;
    left: -867px;
    height: 215px;
    top:90px;
    position :absolute;
    background: url("../img/cloud8.png") scroll no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: move_cloud8 135s linear infinite; /* Chrome, Safari, Opera */
    animation: move_cloud8 105s linear infinite;
    z-index: 8;
}
div.cloud9{
    width: 490px;
    left: -490px;
    height: 237px;
    top:50px;
    position :absolute;
    background: url("../img/cloud9.png") scroll no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: move_cloud9 190s linear infinite; /* Chrome, Safari, Opera */
    animation: move_cloud9 900s linear infinite;
    z-index: 7;
}
div.cloud10{
    width: 830px;
    left: -830px;
    height: 206px;
    top:60px;
    position :absolute;
    background: url("../img/cloud10.png") scroll no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: move_cloud10 140s linear infinite; /* Chrome, Safari, Opera */
    animation: move_cloud10 100s linear infinite;
    z-index: 4;
}
div.cloud11{
    width: 867px;
    left:-867px;
    height: 215px;
    top:0px;
    position :absolute;
    background: url("../img/cloud11.png") scroll no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: move_cloud11 120s linear infinite; /* Chrome, Safari, Opera */
    animation: move_cloud11 120s linear infinite;
    z-index: 5;
}
div.sun{
    z-index: 5;
    position :absolute;
    width: 200px;
    height: 200px;
    left: -200px;
    top:75px;
    border-radius: 100px;
    background: #fbfb00;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 0 0 140px #def902;
    box-shadow: 0 0 140px #def902;
    -webkit-animation: move_sun 60s linear infinite; /* Chrome, Safari, Opera */
    animation: move_sun 60s linear infinite;
}
